.header-area .main-menu .navbar .navbar-brand img{
    width:40%;
    border-radius: 50%;
}

.header-area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar{
    padding: 0rem 9rem;
    /* background-color: #ebfdf6; */
    /* background-image: linear-gradient(to right, rgb(178, 239, 243) , rgb(37, 140, 172)); */

}

.header-area{
    background-color: #d8fbfc;
}

.header-area .main-menu .nav-item .nav-link{
    font-size: 20px;
    padding: 1.7rem;
}

.header-area .main-menu .navbar-nav a:hover{
    color: #73C8A9;
    transform : scale(1.2);
}

.profile{
    width: 30%;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.527);
}

.site-main {
    background: url('');
    background-color: #e6f7f0;
    background-repeat: no-repeat;
    background-position: 0 50%;
}


.site-main .site-banner .site-title h3::after{
    content:" ";
    height: 2px;
    width: 15vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-title{
    padding-left: 15%;
    padding-top: 15%;
}

.buttons{
    border-radius: 10px;
}

.primary-button{
    background: #65af94;
    background-clip: padding-box;
    color: whitesmoke;    
    margin-right: 20px;

    font-size:17px;
    padding: 3px 18px;
    margin: 6px;
    border-radius: 14px; 
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.527);
    border: 2px solid white;
    cursor: pointer;
 } 

.primary-button:hover{
    transform: scale(1.2);
    color: white;
}

.about-image{
    width: 55%;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.527);
}

.about-title{
    padding-left: 20%;
    padding-top: 20%;
    padding-right: 10%;
}

.site-main .about-area .about-title h2>span{
    display: block;
    font-size: 30px;
    letter-spacing: 21px;
    color: rgb(2, 63, 92);
}

.para{
    color: rgb(20, 63, 63);
}

.project-container{
    padding-top : 20%;   
    /* box-shadow: 5px 2px 5px black;  */
    /* background-color: #000000; */
}

.carousel-indicators [data-bs-target] {
    width: 50%;
    background-color: black;


}
.carousel .slide{
    cursor: pointer;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.527);
    border-top: 3px solid white;    
    border-left: 3px solid white; 
}
.carousel{
    max-width: 60%;
    justify-content: center;
    text-align: center;
    margin: auto;
    
    cursor: pointer;
    box-shadow: 25px 15px 25px rgba(0, 0, 0, 0.527);
    border-top: 3px solid white;    
    border-left: 3px solid white; 

}

.icons{
    margin-top: 10%;
    /* margin-bottom: 10%; */
    text-align: center;
    justify-content: center;
}

.icons a{
    margin: 0 30px;
    font-size: 3rem;
    color: black;
    text-decoration: none;

}

.icons a:hover{
    transform: scale(1.4);
    color: rgb(20, 63, 63);
}

.contact{
    /* margin-top: 10%; */
    color: rgb(2, 63, 92);
    text-align: center;
    font-size: 45px;
    height: 55px;
    letter-spacing: 5px;
    letter-spacing: 21px;  
}

.mrIcon{
    padding-top: 6%;
    padding-bottom: 2%;
    /* background-color: aquamarine; */

}

.form{
    max-width: 344px;
    margin: auto;
}
.form-input{
    margin: 10px 4px;
    padding : 5px;
    width: 100%;
    font-size:  20px;
    border: 1px solid white;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.527);
}

.bottom{
    margin-top: 15%;
}

#footer{
    justify-content : center;
    text-align: center;
    color: #000000;
    font-size: 1rem;
    padding: 2px;
}